# ignore python cache folders
__pycache__
# also from subfolders
*/__pycache__

logs/*

# Helper file
selections.py

# ignore content of out folder exept one example (2023-09-01)
out/*
!out/2023-09-01