# Run the cronjob every day at 3:00 AM
0 3 * * * /usr/local/bin/python /app/script.py >> /app/logs/cron.log 2>&1

# TEST: run the cronjob every 10 minutes
# */10 * * * * /usr/local/bin/python /app/script.py >> /app/logs/cron.log 2>&1
