.dish-card {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 95%; /* Make the width responsive */
    min-height: 190px;
    max-height: max-content;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    margin: 10px;
    position: relative;
}

.dish-image {
    width: 40%; /* Adjust the image width */
    height: 100%; /* Adjust the height to fill the container */
    object-fit: cover; /* Cover the space without distorting the image */
}

.text-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.orange-text {
    font-weight: bold;
    color: rgba(233, 108, 96, 1);
    font-size: 16px;
}

.main-text {
    font-size: 25px;
}

.small-text {
    font-size: 12px;
}

@media (max-width: 600px) {
    .main-text {
        font-size: 20px; /* Decrease the font size on small screens */
    }
    .small-text {
        font-size: 10px; /* Decrease the font size on small screens */
    }
}

.price-section {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    background: rgb(236, 238, 243);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;          
    justify-content: center;
    align-items: center;    
}

.price-text {
    font-size: 16px;
    font-weight: bold;
}

.bottom-section {
    position: absolute;
    bottom: 0px;
    color: yellowgreen;
    left: 50px;
    width: 100px; 
    text-align: center; 
}

.bottom-text {
    font-size: 12px;
}