# Firebase Functions Environment Variables
ADMIN_API_KEY=secureKeyHere


# Google Cloud Storage Bucket (Standard für neue Firebase Projekte)
DATA_BUCKET=PROJECT-URL.firebasestorage.app

# Base URL für Data Access
DATA_BASE_URL=https://firebasestorage.googleapis.com/v0/b/PROJECT-URL/o

# OpenAI API Key
OPENAI_API_KEY=yourKeyHere

# OpenAI Models
OPENAI_CHAT_MODEL=gpt-4o
OPENAI_IMAGE_MODEL=dall-e-2

# OpenAI Config
OPENAI_IMAGE_SIZE=1024x1024
OPENAI_IMAGE_QUALITY=medium

OPENAI_CHAT_TEMPERATURE_NUTRITION=0.3
OPENAI_CHAT_MAX_TOKENS_NUTRITION=500

OPENAI_CHAT_TEMPERATURE_NOTIFICATION=0.7
OPENAI_CHAT_MAX_TOKENS_NOTIFICATION=300

# JPG Images
JPEG_QUALITY=80

# Node Environment
NODE_ENV=production
